* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Màu nền xanh nhạt */
    padding: 0;
    margin: 0;
}

.home-icon {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 50px;  
    height: 50px; 
    cursor: pointer; /* rê chuột vô là chỉ tay */
    filter: invert(100%);  /* đen -> trắng */
}

header { /* tag header */
    display: flex; 
    justify-content: center;
    /* position: relative;
    text-align: center; */
    background-color: #00796b;
    color: white;
    padding: 15px;
}

.date-time {
    position: absolute;
    right: 20px;
    top: 15px;
}


nav {
    background-color: #004d40; 
    padding: 10px;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}



nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    display: block;
}

nav ul li a:hover {
    background-color: #00695c;
    border-radius: 4px;
}

.selected {
    background-color: #00695c;
    color: white;
    border-radius: 4px;
;
}


.dashboard {
    margin: 20px;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, 3fr);  
    gap: 40px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px #d4d4d4;
}

.card p {
    font-size: 2em;
    margin: 20px 0 0;
    color: #333;
}

.card img {
    width: 100px; 
    height: auto;
    margin-top: 10px;
}


/* Phần điều khiển công tắc thiết bị */
.controls-horizontal {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 20px;
}

.switch-device {
    text-align: center;
}

.switch-device img {
    width: 100px; 
    height: auto;
    margin-bottom: 10px;
}

.switch {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.switch label {
    margin-right: 10px;
    font-size: 1.1rem;
    color: #333;
}

.switch-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}


.spin {
    animation: spin 1s infinite linear;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* iframe {
    width: 100%;
    height: 80vh;
    border: 0; 
} */

footer {
    background-color: #004d40; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    font-size: 14px; 
}

