* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Màu nền xanh nhạt */
    padding: 0;
    margin: 0;
}

/* Định dạng cho hình ảnh home.png */
.home-icon {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 50px;  /* Kích thước chiều rộng hình ảnh */
    height: 50px; /* Kích thước chiều cao hình ảnh */
    cursor: pointer; /* Con trỏ thành biểu tượng chỉ tay khi rê chuột */
    filter: invert(100%);  /* Đổi màu hình ảnh icon thành màu trắng */
}

header {
    position: relative; /* Đảm bảo phần header có chứa hình ảnh */
    background-color: #00796b;
    color: white;
    padding: 15px;
    text-align: center;
}

.date-time {
    position: absolute;
    right: 20px;
    top: 15px;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #004d40; 
    padding: 10px;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    display: block;
}

nav ul li a:hover {
    background-color: #00695c;
    border-radius: 4px;
}

#selected {
    background-color: #00695c;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 15px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin: 0;
    color: #555;
}

.card p {
    font-size: 2em;
    margin: 20px 0 0;
    color: #333;
}

.card img {
    width: 100px; /* Điều chỉnh kích thước hình ảnh */
    height: auto;
    margin-top: 10px;
}

/* Đặt bố cục các biểu đồ nằm ngang */
.charts {
    display: flex;
    justify-content: space-between; /* Canh đều các biểu đồ */
    align-items: center; /* Canh giữa theo chiều dọc */
    margin-top: 20px;
}

.chart-wrapper {
    width: 33%; /* Mỗi biểu đồ chiếm 1/3 chiều rộng */
    text-align: center; /* Căn giữa văn bản tiêu đề */
}

canvas {
    max-width: 500px; /* Giới hạn chiều rộng của biểu đồ */
    margin: 10px;
    height: 1000px; /* Điều chỉnh chiều cao theo ý bạn */
    display: block;
}

/* Phần điều khiển công tắc thiết bị */
.controls-horizontal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
}

.switch-device {
    text-align: center;
}

.switch-device img {
    width: 100px; /* Kích thước của hình ảnh thiết bị */
    height: auto;
    margin-bottom: 10px;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.switch label {
    margin-right: 10px;
    font-size: 1.1rem;
    color: #333;
}

/* Định dạng công tắc */
.switch-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}


.spin {
    animation: spin 1s infinite linear;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

iframe {
    width: 100%;
    height: 80vh; /* Sử dụng 100% chiều cao của cửa sổ trình duyệt */
    border: 0; /* Loại bỏ viền */
}

footer {
    background-color: #004d40; /* Màu nền cho footer */
    color: white; /* Màu chữ */
    text-align: center; /* Căn giữa nội dung */
    padding: 10px 0; /* Khoảng cách trên dưới cho phần footer */
    position: fixed; /* Đảm bảo footer luôn ở cuối trang */
    bottom: 0; /* Căn dưới của trang */
    width: 100%; /* Chiếm toàn bộ chiều rộng của trang */
    font-size: 14px; /* Kích thước chữ */
}

